body {
    background-color: #882238;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.job-actions-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.job-box {
    height: 700px;
}

#job-cards {
    overflow-y: scroll;
    max-height: 600px;
}


.pending {
    background-color: #ffe5c1ff;
    background-opacity: 0.8;
}

.approved {
    background-color: #5bc0de;
    background-opacity: 0.8;
}

.denied {
    background-color: #d9534f;
    background-opacity: 0.8;
}

.inprogress {
    background-color: #d900ffff;
    background-opacity: 0.8;
}

.securitycleared {
    background-color: #ea72ffff;
    background-opacity: 0.8;
}

.cargopickedup {
    background-color: #f3aeffff;
    background-opacity: 0.8;
}

.completed {
    background-color: #00ff2aff;
    background-opacity: 0.8;
}