{%extends "index.html" %} 
{%load static%}
{%block title%} Login {%endblock%}

{%block page_content%} 

<link rel = "stylesheet" href = "{%static 'Registration/style.css' %}">

<body>
  <div class="banner-container position-relative text-center text-white py-5 d-flex flex-column justify-content-center align-items-center" style="padding: 8rem 1rem; max-height: 200px;">
    <h2 class="registration-title">Log In</h2>
  </div>

  <form method="post">
    <div class="form_style">
      {% csrf_token %}
      {{ form }}
      <button class="btn btn-primary btn-med" type="submit">Login</button>
    </div>
  </form>
</body>
{%endblock%}