{% extends conditionalhome %}
{%load static%}
{%block title%} DockChain {%endblock%}

{% block interface_content %}
{% block page_content %}

<link rel="stylesheet" href="{% static 'Home/style.css' %}">

    <!--Title-->
    <div class="title">
        <h1>DockChain</h1>
        <h4>A novel solution for transportation inefficiencies in the cargo shipping industry.</h4>
    </div>


{% if not user.is_authenticated %}

    <!--Login Cards-->
    <section class="card-container" id="register">
        <div class="card text-bg-dark cardbg">
            <img src="{%static 'Home/Images/truckhat.png' %}" class="card-img-top" alt="Image of a truck hat">
            <div class="card-body text-center">
                <h5 class="card-title">Independent Truck Drivers</h5>
                <p class="card-text">Enjoy a central location to apply for cargo jobs and manage all your cargo needs.</p>
                <a href="{% url 'signup_driver' %}" class="btn btn-primary">Register</a>
            </div>
        </div>

        <div class="card text-bg-dark cardbg">
            <img src="{%static 'Home/Images/truck.png' %}" class="card-img-top" alt="Image of a truck">
            <div class="card-body text-center">
                <h5 class="card-title">Trucking Companies /<br> 
                    Cargo Brokers</h5>
                <p class="card-text">Create, assign, track, and verify all cargo jobs from a simplistic dashboard.</p>
                <a href="{% url 'signup_company' %}" class="btn btn-primary">Register</a>
            </div>
        </div>

        <div class="card text-bg-dark cardbg">
            <img src="{%static 'Home/Images/ship.png' %}" class="card-img-top" alt="Image of a ship">
            <div class="card-body text-center">
                <h5 class="card-title">Port Operators</h5>
                <p class="card-text">Receive and approve container jobs & track incoming and outgoing truckers, all at once.</p>
                <a href="{% url 'signup_port' %}" class="btn btn-primary">Register</a>
            </div>
        </div>
    </section>


{% else %}
{% endif %}
    <script src="{% static 'Home/script.js' %}"></script>
{% endblock %}
{% endblock %}
