{% extends "foundation.html" %}
{% load static %}
{% block title %}Index{% endblock %}


{% block content %}

<!--This code is just for the public navigation bar-->
<link rel="stylesheet" href="{% static 'Index/style.css' %}">

    <nav class="navbar navbar-expand-lg sticky-top bg-transparent">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'Home/Images/dockchainlogo_updated.png' %}" alt="Bootstrap" width="30" height="30">
            </a>
        </div>

        <div class="container-fluid">
            <div class="d-flex ms-auto">
                <a class="btn btn-outline-primary me-2" href="/#register" role="button">Sign Up</a>
                <a class="btn btn-outline-primary" href="{% url 'login' %}" role="button">Log In</a>
            </div>
        </div>
    </nav>

{% block page_content %}
{% endblock %}
{%endblock%}