{%extends "foundation.html" %} 
{%load static%}

{%block title%} Base {%endblock%}
{%block content%}

<link rel="stylesheet" href="{% static 'Base/style.css' %}">


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'Home/Images/ship.png' %}" alt="Bootstrap" width="30" height="24">
    </a>
    {% if center_item %}
      <span class="position-absolute start-50 translate-middle-x fw-semibold maintitle">{{ center_item.label }}</span>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <div class="d-flex align-items-center w-100">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for item in left_items %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}">{{ item.label }}</a>
            </li>
          {% endfor %}
        </ul>
        <form class="d-flex" role="search" method="get" action="{% url 'search_truckers' %}">
          <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  
</nav>

<script src="{%static 'Base/script.js'%}"></script>



{% block interface_content %}
{% endblock %}
{%endblock%}